{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
<h1>HOLE IN ONE!</h1>
<!-- Painikkeet tähän -->
{% if user_logged_in %}
{% if boolean == TRUE %}
<p>
    {{forms.destroy_button("#{base_path}/holeinones/#{holeinone.id}/destroy")}}    
    <a href="{{base_path}}/holeinones/{{holeinone.id}}/edit" class="btn btn-default">Muokkaa</a>

</p>
{% endif %}
{% endif %}
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Golffari:</strong>{{holeinone.golfername}}</li>
    <li><strong>Rata:</strong>{{holeinone.coursename}}</li>
    <li><strong>Väylä:</strong>{{holeinone.hole}}</li>
</ul>
<li><strong>Päivämäärä:</strong>{{holeinone.date}}</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>{{holeinone.description}}
</p>
{% endblock %}