{% extends "base.html" %}
{% block content %}
{% if user_logged_in %}
<h1>Ei kannata poistaa..</h1>
<!-- Painikkeet tähän -->
<p>
    {% for t in course %}
<form method="post" action="{{base_path}}/courses/{{t.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">:(</button>
</form>
<a href="javascript:history.back()" class="btn btn-default">Palaa</a>
    {% endfor %}
</p>
{% else %}

  <div style="color:blue"><h2>Kirjaudu sisään poistaaksesi ratoja</h2></div>

  {% endif %}
{% endblock %}