{% extends "base.html" %}
{% block content %}
{% if user_logged_in %}
<h1>Muokkaa rataa {{attributes.name}}</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/courses/{{attributes.id}}/edit">
    <div class="form-group">
        <label for="nimi">Nimi</label>
        <input name="name" class="form-control" value="{{attributes.name}}" type="text">
    </div>
    <div class="form-group">
        <label for="holes">Väyliä</label>
        <input name="holes" class="form-control" value="{{attributes.holes}}" type="text">
    </div>
    <div class="form-group">
        <label for="par">Ihannetulos</label>
        <input name="par" class="form-control" value="{{attributes.par}}" type="text">
    </div>
    <div class="form-group">
        <label for="location">Sijainti</label>
        <input name="location" class="form-control" value="{{attributes.location}}" type="text">
    </div>
    <div class="form-group">
        <label for="description">Kuvaus</label>
        <textarea name="description" class="form-control">{{attributes.description}}
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>

{% else %}

<div style="color:blue"><h2>Kirjaudu sisään muokataksesi ratoja</h2></div>

{% endif %}
{% endblock %}