{% extends "base.html" %}
{% block content %}

{% for t in course %}
<div style="color:green"><h1>{{t.name}}</h1></div>


<!-- Painikkeet tähän -->
<p>
<form method="post" action="{{base_path}}/courses/{{t.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
<!--<form method="get" action="{{base_path}}/courses/{{t.id}}/delete" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>-->
<a href="{{base_path}}/courses/{{t.id}}/delete" class="btn btn-default">Poista</a><a href="{{base_path}}/courses/{{t.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->

<ul>
    <li><strong>Väyliä:</strong> {{t.holes}}</li>
    <li><strong>Sijainti:</strong> {{t.par}}</li>
    <li><strong>Ihannetulos:</strong> {{t.location}}</li>
</ul>

<!-- Kuvaus tulee tähän -->
<p>{{t.description}}
</p>
{% endfor %}

{% endblock %}