{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}

<div style="color:green"><h1>{{course.name}}</h1></div>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<!-- Painikkeet tähän -->
{% if user_logged_in %}
<p>
    {{forms.destroy_button("#{base_path}/courses/#{course.id}/destroy")}}
    <!--TOIMIVA NAPPI<form method="post" action="{{base_path}}/courses/{{t.id}}/destroy" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form>-->
    <a href="{{base_path}}/courses/{{course.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>
{% endif %}
<!-- Tiedot tulee listana tähän -->

<ul>
    <li><strong>Väyliä:</strong> {{course.holes}}</li>
    <li><strong>Sijainti:</strong> {{course.location}}</li>
    <li><strong>Ihannetulos:</strong> {{course.par}}</li>
</ul>

<!-- Kuvaus tulee tähän -->
<p>{{course.description}}
</p>

{% endblock %}