{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}

<a href="{{base_path}}/records" class="btn btn-primary">Palaa ennätyksiin</a>

{% if user_logged_in %}
<h1>Käyttäjän {{user_logged_in.name}} ennätykset</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<p>
    <a href="{{base_path}}/records/add_record" class="btn btn-success">Lisää tulos</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Rata</th>
            <th>Päivämäärä</th>
            <th>Tulos</th>
            <th>Lisäyspäivä</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan ennätykset tähän -->
        {% for r in records %}
        <tr>
            <td><a href="{{base_path}}/courses/{{r.course}}">{{r.coursename}}</a></td>
            <td>{{r.date}}</td>
            <td><label class="label label-success">{{r.score}}</label></td>
            <td>{{r.added}}</td>
            <th>{{forms.destroy_button("#{base_path}/records/#{r.id}/destroy")}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div style="color:blue"><h1>Kirjaudu sisään nähdäksesi omat ennätyksesi listattuna</h1></div>

{% endif %}

{% endblock %}