{% extends "base.html" %}
{% block content %}
  <h1>Meilahden frisbeegolfrata</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Väyliä:</strong> 16</li>
    <li><strong>Sijainti:</strong> Helsinki</li>
    <li><strong>Ihannetulos:</strong> 48</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Meikku sijaitsee Helsingissä. Maastoltaan se on osin metsäinen ja erittäin kallioinen rata, jossa on suuria korkeuseroja. Se on Suomen vanhin frisbeegolfrata. Meikku koostuu 16:sta par 3 väylästä.
  </p>
{% endblock %}