{% extends "base.html" %}
{% block content %}
  <h1>HOLE IN ONE!</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="{{base_path}}/holeinones/show_holeinone/edit_holeinone" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Golffari:</strong> Juha-Petteri</li>
    <li><strong>Rata:</strong> Meilahden frisbeegolfrata</li>
    <li><strong>Väylä:</strong> 10</li>
  </ul>
  <li><strong>Päivämäärä:</strong> 13.09.2017</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>Se vaan meni koriin.
  </p>
{% endblock %}