{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa joukkuetta Palloseura</h1>

  <form>
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value="Palloseura" type="text">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea class="form-control">        Palloseura on pitkiä perinteitä noudattava joukkue ajalta jolloin frisbeegolf laskettiin palloilulajiksi.
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}