{% extends "base.html" %}
{% block content %}
<h1>Joukkueet</h1>

{% if user_logged_in %}
<p>
    <a href="{{base_path}}/teams/add_team" class="btn btn-success">Lisää joukkue</a>
</p>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Luomispäivä</th>
            <th>Jäseniä</th>
        </tr>
    </thead>

    <tbody>
        {% for team in teams %}
        <tr>
            <td><a href="{{base_path}}/teams/{{team.id}}">{{team.name}}</a></td>
            <td>{{team.created}}</td>
            <td>{{team.members}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}